:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*psedu-class ":root" creates variables to call on in the CSS style sheet making it easier to change what you want in the root instead of going into every code line to change something */

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    
}

/* apply styles to <header> */

/*Added "display:flex" so it can fit on mobile devices and be adjusted without making the webpage difficult to navigate */
/*Added "justify-content: space-between;" It distributes all empty space between child elements to keep them evenly spaced apart */
/*Added "flex-wrap: wrap;" When the webpage resizes the <header> will expand onto a second line if it runs out of room */
header {
    
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {

    margin: 7px 0;
}
/*Completely removed the CSS rule for "header nav ul li" */

/*Added new CSS rule to help improve webpage with flexbox settings */
/*Added two new property declarations: align-items: center; list-style: none; */
/*align-items: center; will vertically center the content. */
/*list-style: none; sets how a list item is styled (bullet points, dashes, etc.) and positioned (indented or outdented). "none" hides the bullet points */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/*Making adjustments for the navigation to make flexbox work better */
/*changed the "font-size" to 1.55vw. This tells the browser that the font's size should be roughly 1.55% of the window's overall width. */
/*"vw" = viewport width. It helps with flexible length values in CSS. */
header nav ul li a {
    padding: 10px 15px; /*added padding and removed margin. This will create a tighter navigation menu */
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* Applys styles to the Footer */

/*Added "display: flex;", "justify-content: space-between;", and "flex-wrap: wrap;" for the v2.0 (for flexbox update) */
/* removed "width: 1903px;" and copied the exact CSS rule in header to match footer */
footer {
    background: var(--primary-color);
   padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
/*removed "display: inline;" for v2.0 (for flexbox update) */
footer h2 {
    
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}
/*removed "float: right;" for v2.0 (for flexbox update) */
footer div {
    
     line-height: 1.5;
     text-align: right; 

}
footer a {
    color: var(--secondary-color);
}

section {
    padding: 60px;
    
}

/*Hero Style Start */
/*removed "postion: relative;" and "height: 600px;" for the v2.0 (adding flexbox update to webpage) */
.hero {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%; 
    
}

/*added a new CSS rule ".hero-cta" for the v2.0 (adding flexbox update to webpage) */
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2; /*changed the line-height to 1.2 instead of 1.3, this will make the text easier to read */
}

/*added a new CSS rule ".hero-cta h2" for the v2.0 (adding flexbox update to webpage) */
.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Will give the form style */
/*removed "width:500px;", "position:absolute;", "bottom: 120px;", "right: 140px;" for the v2.0 (adding flexbox update to webpage) */
/*added "width: 40%;" and "margin: 3.5%;" for the v2.0 (adding flexbox update to webpage) */
.hero-form {
    border: 3px solid var(--secondary-color);
    background-color: rgba(255, 225, 56, 0.8);
    padding: 20px;
    color: var(--secondary-color);
    width: 40%;
    margin: 3.5%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   
}
.hero-form button:hover {
    background-color: var(--tertiary-color);
}
/*Gives the h3 "Get Started Today increase font size and made sure the letters wouldn't overlap over the rest of the form */
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
/*Creating more space to make it readible */
.hero-form p {
    margin: 5px 0 15px 0;
}

/*Calls on the form-clas in HTML and making the entire form readible */
.form-input {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}
.form-input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}
/*This will target "Enter Full Name, Enter Email Address, Enter Telephone Number, and I acknowledge..years of age" */
.hero-form label {
    margin: 0 5px;
}
/*The "Get Running" button will be styled */
.hero-form button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;

}

/*this will make the orginal buttons transparent and allow our NEW buttons to sit top of it and hide it */
.chechbox-wrapper input, .radio-wrapper input {
    opacity: 0;
}
/*this custom radio and checkbox buttons will sit INSIDE of the labels (creating our own buttons and labels for the hero form) */
.checkbox-wrapper label, .radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.75);  
    border: 1px solid var(--secondary-color);  
    position: absolute;
    top: -4px;
    left: -30px;
  }
  
  .radio-wrapper label::before {
    border-radius: 50%;
  }
  
  .radio-wrapper label::after {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color));
  }
  
  .checkbox-wrapper label::after {
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);
  }
  
  .checkbox-wrapper input + label::after, 
  .radio-wrapper input + label::after {
    content: none;
  }
  
  .checkbox-wrapper input:checked + label::after, 
  .radio-wrapper input:checked + label::after {
    content: "";
  }
/*Hero Style Ends */

/*This will style the "What We Do" and the "What You Do" and the "Reach Out" parts of the webpage */
/*removed "display: inline;", "padding: 0 100px 20px 100px;", and "margin-bottom: 35px;" for v2.0 (for flexbox webpage update) */
/*added padding-bottom: 20px;", "text-align: center;", "margin: 0 auto 35px auto;", "width: 50%;" for v2.0 */
/*Section Title Styles Start */
.section-title {
    font-size: 48px; /*changed the font-size to 48px instead of 55px. This will be big enough for all screens. */ 
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}
/*Section Title Styles End */


/*This will center the "What We Do" h2 in the website */
/*removed entire CSS rule for ".intro { text-align: center; } for v2.0 (flexbox webpage update) */
/*This will clean up the paragraph in the "What We Do" part of the webpage */
/*added "text-align: center;" for the v2.0 (flexbox webpage update) */
.intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
/*This will center and add a background to the "What You Do" section */
/*removed "text-align: center;" for v2.0 (flexbox webpage update) */
.steps {
    
    background: var(--primary-color);
}

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step:last-child {
    border-bottom: none;
}
/*This will clean-up the size and color elements in the "What You Do" section to step 4 */
/*removed CSS rules ".steps div {}", ".steps img {}", ".steps span {}" */

/*added "flex: 1 30%;" for v2.0 (flexbox webpage update) */
.steps h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%; 
}

/*added a new CSS rule ".step-info {}" for v2.0 (flexbox webpage update) */
.step-info {
    flex: 2 70%; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/*added a new CSS rule ".step-img {}" for v2.0 (flexbox webpage update) */
.step img {
    flex: 1 12%;
    margin-right: 20px;
}
/*added a new CSS rule ".step-img img {} for v2.0 (flexbox webpage update) */
.step-img img {
    max-width: 100%;
}
/*added a new CSS rule "/step-text {}" for v2.0 (flexbox webpage update) */
.step-text {
    flex: 12;
}
.step-text p {
    color: var(--tertiary-color);
    font-size: 18px;
  }

/*changing ".steps p" to ".steps-text h4 {} */
/*added "font-size: 23px" to "18px", changed color to "0#24e76", and added "line-height: 1.5;" */
.step-text h4 {
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 1.5;
}

/*This will align the text in the trainers section */
/*removed "text-align: center;" for v2.0 (flexbox webpage update) */
/*added "width", "margin", "dispaly", "flex-wrap", "justify-content" */
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*This will add styles to the <article> element for the trainer */
/*removed "width" and "overflow" for v2.0 (flexbox webpage update) */
/*added "flex: 1" and changed margin to "20px" */
.trainer {
    
    margin: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
    

}
/*this will adjust the trainer image */
.trainer img {
    width: 100%;
    
    
    
}
/*This adjusts the trainer's bio */
/*moved "line-height: 1.3;" from "trainer-bio p {}" for version 2.0 (flexbox webpage update) */
.trainer-bio {
    padding: 25px;

    line-height: 1.3;
    
}
/*This will adjust the font and font size of h3 "Arron Stephens" */
/*removed "margin-bottom" and changed font-size to "28px for version 2.0 (flexbox webpage update) */
.trainer-bio h3 {
    font-size: 28px;
    
}

/*This will adjust the font weight, font size, and margin in h4 "Speed / Strength" */
/*changed font-size to "22px", changed margin-bottom to "15px" for version 2.0 (flexbox webpage update) */
.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
/*This will adjust the font size and line height of the trainer's bio paragraph */
.trainer-bio p {
    font-size: 17px;
    
}

/* REACH OUT STYLES START */
/*removed "text-align: center;" for v2.0 (flexbox webpage update) */
.contact {

    background: var(--secondary-color);
    
}
/* This will add the yellow to the "Reach Out" to appear above the contact info and map */
.contact h2 {
    color: var(--primary-color);

}
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-info > * {
    flex: 1;
    margin: 15px;
}
/*This will adjust the width and height of the iframe in contact-info in the Reach Out section of the webpage */
.contact-info iframe {
    height: 400px;
   
}
/*This will change the contact info and place the text to the left side and create a two column appearance */
.contact-info div {
    
    color: white;
   

} /*This changes the h3 (Run Buddy) color and font size */
.contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;

} /*This targets two elements (.contact-info p, .contact-info address) use a "," to target more elements and styles this two elements */ 
.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    
}
.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}
.contact-form input:focus, .contract-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}
.contact-form button {
    width: 100;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
    
}
.contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
}
/*This changes the "info@runbuddy.io" to a yellow font color */
.contact-info a {
    color: var(--primary-color);
}
.flex-row {
    display: flex;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
/*REACH OUT STYLES END */

/* Start Media Queries */

/* Media Query for Smaller Desktop Screens and Smaller */
@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }
  
  header h1 {
      width: 100%;
      text-align: center;
      
  }

  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }

  header nav ul li a {
      font-size: 20px;
    
      
  }
  
  footer h2, footer div {
      text-align: center;
      width: 100%
  }

  .hero-cta, .hero-form {
      width: 100%;
  }

  .hero-cta {
      text-align: center;
  }

  .section-title {
      width: 80%;
  }

  .trainer {
      flex: 0 70%;
  }

  .contact-info iframe {
      flex: 1 100%;
  }
}

/* Media Query for Tablets and Smaller */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
      }
    
      .step h3 {
        flex: 1 100%;
        text-align: center;
      }
    
      .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
      }
    
      .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    
      .step-text {
        flex: 100%;  
      }
    
      .trainer-bio h3, .trainer-bio h4 {
        display: block;
      }
   
}

/*Media Query for Mobile Phones and Smaller */
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
   
}